@keyframes clickPopupFade {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -400%) scale(1.4);
    opacity: 0.1;
  }
}

@keyframes rainbowFlow {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 400% 0%;
  }
}

@keyframes rainbowCatMask {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}

@keyframes goldenSpawn {
  from {
    transform: scale(0) rotate(0deg);
    opacity: 0;
  }
  to {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}

@keyframes goldenWobble {
  0% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotate(6deg);
  }
}

@keyframes clickFlash {
  0% {
    color: gray;
    fill: gray;
  }
  30% {
    color: lightblue;
    fill: lightblue;
  }
  100% {
    color: lightblue;
    fill: lightblue;
  }
}
