@font-face {
  font-family: "Finger Paint";
  src: url("../assets/fonts/FingerPaint.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bitcount Prop Single";
  src: url("../assets/fonts/BitcountPropSingle.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../assets/fonts/BebasNeue.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dancing Script";
  src: url("../assets/fonts/DancingScript.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Averia Gruesa Libre";
  src: url("../assets/fonts/AveriaGruesaLibre.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Macondo";
  src: url("../assets/fonts/Macondo.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}
