@use "variables" as *;

footer {
  flex: 0 0 auto;
  text-align: center;
  font-size: 0.8rem;
  color: lightgray;
  padding: 0.5rem 1rem;
  background-image: $softGlowFromTop;
  display: flex;
  justify-content: space-between;
}
