@use "variables" as *;

footer {
  flex: 0 0 auto;
  text-align: center;
  font-size: 0.8rem;
  color: lightgray;
  padding: 0 1rem;
  background-image: $softGlowFromTop;
  display: flex;
  justify-content: space-between;

  a {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    text-decoration: none;
    svg {
      width: 15px;
      height: 15px;
      * {
        fill: gray;
      }
    }
  }
}
