@use "variables" as *;

header {
  flex: 0 0 auto; // only as tall as its content
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid darkslategray;
  // background-color: black;
  background-image: $softGlowFromTop;

  h1 {
    font-weight: 900;
    text-transform: uppercase;
    background-image: url("../assets/images/neonleopard.jpg");
    background-size: cover;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 30px;
    padding: 0;
    margin: 1rem;
    line-height: 1;
  }

  .header-icons {
    display: flex;
    gap: 1rem;

    #settings-icon,
    #stats-icon,
    #achievements-icon {
      cursor: pointer;
      width: 40px;
      height: 40px;

      svg {
        width: 100%;
        height: 100%;
        transition: fill 0.3s ease;
        &:hover {
          fill: rgb(135, 226, 248);
          stroke: rgb(135, 226, 248);
          g {
            path {
              fill: rgb(135, 226, 248);
            }
          }
        }
      }
    }
  }
}
