@use "variables" as *;

header {
  flex: 0 0 auto; // only as tall as its content
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  // border-bottom: 1px solid darkslategray;
  // background-color: black;
  background-image: $softGlowFromTop;
  position: relative;

  .toast {
    position: absolute;
    width: fit-content;
    max-width: 50%;
    height: 20px;
    border: 2px solid darkslateblue;
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: linear-gradient(
      to bottom in oklch longer hue,
      whitesmoke,
      darkslategray
    );
    color: black;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    text-align: center;
    z-index: 10;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition:
      transform 0.5s ease-in-out,
      opacity 0.5s ease-in-out;

    * {
      margin: 0;
      padding: 0;
      line-height: 1;
    }

    .toast-header {
      text-decoration: underline;
      margin-bottom: 0.25rem;
    }

    .toast-content {
      font-size: 0.8rem;
    }

    .toast-desc {
      font-size: 0.6rem;
      color: lightblue;
    }

    &.active {
      opacity: 1;
      transform: translateX(-50%) translateY(0%);
    }
  }

  @keyframes toastSlide {
    0% {
      opacity: 0;
      transform: translateX(-50%) translateY(-100%);
    }

    12.5% {
      /* 0.5s of 4s */
      opacity: 1;
      transform: translateX(-50%) translateY(0%);
    }

    87.5% {
      /* hold position */
      opacity: 1;
      transform: translateX(-50%) translateY(0%);
    }

    100% {
      opacity: 0;
      transform: translateX(-50%) translateY(-100%);
    }
  }

  #desktop-or-web-display {
    position: absolute;
    top: 1px;
    left: 1px;
    font-size: 10px;
    color: darkslategray;
    font-style: italic;
  }

  h1,
  .image-header {
    background-image: url("../assets/images/neonleopard.jpg");
    background-size: cover;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 900;
    text-transform: uppercase;

    font-size: 30px;
    padding: 0;
    margin: 1rem;
    line-height: 1;
    &:hover {
      cursor: pointer;
    }
  }

  div#install-pwa-btn {
    &:hover {
      cursor: pointer;
    }
  }

  .header-icons {
    display: flex;
    gap: 1rem;

    #settings-icon,
    #stats-icon,
    #achievements-icon {
      cursor: pointer;
      width: 40px;
      height: 40px;

      svg {
        width: 100%;
        height: 100%;
        transition: fill 0.3s ease;
        &:hover {
          fill: rgb(135, 226, 248);
          stroke: rgb(135, 226, 248);
          g {
            path {
              fill: rgb(135, 226, 248);
            }
          }
        }
      }
    }
  }
}
