@use "variables" as *;
@use "header";
@use "left-side";
@use "right-side";
@use "dialogs";
@use "footer";
@use "animations";

html,
body {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-family: "Finger Paint", cursive;

  display: flex;
  flex-direction: column; // stack header, main, footer vertically

  main {
    flex: 1 1 auto; // fills all remaining vertical space between header and footer
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch; // ensure children stretch to full height
    min-height: 0; // allows children to shrink properly

    #left-side,
    #right-side {
      width: 50%;
      // border: 1px solid white;
      height: 100%;
      display: flex;
      flex-direction: column; // stack children vertically
      min-height: 0; // allows children like .clicker-area to shrink/fill properly
    }
  }
}
